
#about{
    background-color: #111827;
    padding: 96px 80px;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 0 32px;
}

#about h4{
    text-align: center;
    padding: 4px 20px;
    background-color: #374151;
    border-radius: 12px;
    width: fit-content;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Inter';
    color: #D1D5DB;
    margin-bottom: 48px;
}

.about-image .about-picture1{
    width: 74%;
}

.about-text h3{
    color: #F9FAFB;
    font-size: 30px;
}

.about-paragraph {
    font-size: 16px;
    line-height: 24px;
    color: #D1D5DB;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-paragraph-link{
    text-decoration: none;
    color: #D1D5DB;

}
.about-paragraph-link:hover{
    text-decoration: underline;
}

.some-quick{
    margin-left: 16px;
}
.some-quick{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-picture2{
    display: none;
    width: 320px;
    height: 380px;
}

@media (max-width:1366px) {
    #about{
        padding: 96px 40px;
    }
}
@media (max-width:1250px) {
    #about{
        padding: 96px 0px;
    }
    .about-image .about-picture1 {
        width: 85%;
    }
}
@media (max-width:1024px) {
    .about-image .about-picture1{
        width: 94%;
    }
    
    .about-text h3{
        font-size: 24px;
    }
}
@media (max-width:768px) {
    #about {
        padding: 64px 0px;
    }
    .about-container{
        padding: 0 16px;
        grid-template-columns: 1fr;
    }

    .about-image{
        display: flex;
        justify-content: center;
    }

    .about-picture1{
        display: none;
    }
    .about-picture2{
        display: block;
    }
}