@font-face{
    font-family: 'Inter';
    src: url(../font-family/inter/static/Inter-Light.ttf),
    url(../font-family/inter/static/Inter-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
}

header {
    position: fixed;
    width: 100%;
    height: min-content;
    top: 0;
    left: 0;
    background: var(--gray-dark-default-50, rgba(3, 7, 18, 0.50));
    backdrop-filter: blur(24px);
    padding: 16px 80px;
    z-index: 1;
}

header nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.logo h3{
    color: #F9FAFB;
    font-size: 30px;
}

.logo{
    text-decoration: none;
}

.toggle{
    display: none;
    padding: 6px 6px 2px 6px;
}

.toggle:hover{
    border-radius: 8px;
    background: var(--gray-dark-100, #1F2937);
}

.toggle:active{
    border-radius: 8px;
    background: var(--gray-dark-200, #374151);
}

.toggle img{
    width: 24px;
    height: 24px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 24px;
}

.link a{
    text-decoration: none;
    color: #D1D5DB;
    font-size: 16px;
}

.action{
    display: flex;
    align-items: center;
    gap: 16px;
}

.dark-ligth-button{
    padding: 6px 6px 6px 6px;
    display: flex;
    align-items: center;
}

.dark-ligth-button img{
    width: 24px;
    height: 24px;   
}

.dark-ligth-button:hover{
    border-radius: 8px;
    background: var(--gray-dark-100, #1F2937);
}

.dark-ligth-button:active{
    border-radius: 8px;
    background: var(--gray-dark-200, #374151);
}

.download-cv{
    padding: 8px 16px;
    border-radius: 12px;
    background: var(--gray-dark-900, #F9FAFB);
    font-size: 16px;
    color: #111827;
    text-decoration: none;
}

.download-cv:hover{
    background: var(--gray-dark-700, #E5E7EB);
}

.download-cv:active{
    background: var(--gray-dark-800, #F3F4F6);
}

.menu h3{
    font-size: 24px;
    color: #F9FAFB;
    padding: 19px;
    display: none;
}

.switch-theme p{
    font-size: 16px;
    color: #D1D5DB;
    display: none;
}

.vertical-line{
    color: #1F2937;
}

@media (max-width:1366px){
    header{
        padding: 16px 40px;
    }
}

@media (max-width:1250px){
    header{
        padding: 16px 0px;
    }
}

@media (max-width:768px) {
    header nav{
        padding: 0 16px;
    }

    .toggle{
        display: block;
        position: relative;
        z-index: 20;
    }   

    .logo{
        position: relative;
    }

    .open-menu{
        display: block;
    }

    .close-menu{
        display: none;
    }

    .open .open-menu{
        display: none;
    }

    .open .close-menu{
        display: block;
    }

    .link{
        flex-direction: column;
        align-items: start!important;
        padding: 16px;
        gap: 16px;
        width: 100%;
        border-top: 1px solid #1F2937;
        border-bottom: 1px solid #1F2937;
    }

    .action{
        width: 100%;
        align-items: start;
        padding: 16px;
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
        height: 100vh;
        background: var(--gray-dark-default, #030712);
        flex-direction: column;
        align-items: start;
        transform: translateX(100%);
        transition: transform 0.5s;
        gap: 0;
    }

    .open .menu{
        transform: translateX(0%);
    }

    .action{
        flex-direction: column;
    }

    .menu h3{
        display: block;
    }

    .download-cv{
        width: 100%;
        text-align: center;
    }

    .switch-theme{
        display: flex;
        justify-content: space-between!important;
        width: 100%;
        align-items: center;
    }    

    .switch-theme p{
        display: block;
    }

    .logo h3{
        font-size: 24px;
    }

    .vertical-line{
        display: none;
    }
}